* {
    box-sizing: border-box;
    /* border: 1px black solid; */
}

body {
    background: rgb(120, 206, 233);
    font-family: serif;
    color: white;
    line-height: 1.5rem;
}
article {
    border: 5px rgb(0, 203, 74) solid;
    margin: 20px;
    padding: 20px;
}

article, header {
    overflow: auto;
}
nav, footer {
    width: 100%;
    float: left;
    position: relative;
    /* border: 1px black solid; */
}
h2 {
    font-style: italic;
    text-align: center;
}

h1 {
    clear: both;
}

h1, ul {
    font-family: sans-serif;
}

ul {
    list-style: none;
    float: right;
    position: relative;
    right: 50%;
    /* border: inherit; */
}

li {
    font-weight: bold;
    color: inherit;
    width: 6rem;
    float: left;
    margin: 0;
    text-align: center;
    position: relative;
    left: 50%;
    /* border: inherit; */
}

li a {
    color:rgb(0, 203, 74);
    display: block;
}
li + li {
    border-left: 1px solid black;
}

img {
    width: 30%;
    float: right;
}
footer {
    clear: both;
}