* {
    border: 1px black solid;
    box-sizing: border-box;
}

header, footer {
    height: 100px;
    clear: both;
}

body > section {
    height: 300px;
    width: 100%;
}

section > section {
    float: left;
    height: 300px;
    width: 33.333333%;
    /* background: gray; */
}